SITE_NAME=''
API_URL=''
PERMITTED_HOST='' #host permitido para utilizar a API, use * para liberar para todos (não recomendado) ou o ip correto do front-end (ex: http://localhost:5173)

DB_HOST=''
DB_NAME=''
DB_USER=''
DB_PASSWORD=''

JWT_SECRET=''

#email e codigo para sistema conseguir enviar email
EMAIL=''
EMAIL_CODE=''

CONTACT_DOC=''
CONTACT_NUMBER=''
CONTACT_EMAIL=''